html {
	height: 100%;
	background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
	overflow: hidden;
}
body,
html {
	margin: 0;
	padding: 0;
}

.btn {
	background-color: #663dff!important; 
	border: none;
	z-index: 10;
	width: 100px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
		7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
	outline: none;
	/* padding-bottom: 5%; */
	margin-bottom: 20px;
}

.btn:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background-color: #b621fe;
	border-radius: 5px;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
		7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
	transition: all 0.3s ease;
}

.btn:hover {
	color: #fff;
}

.btn:hover:after {
	left: 0;
	width: 100%;
}

.btn:active {
	top: 2px;
}
.dbtn {
	overflow: visible;
	padding-bottom: 25px;
	
}
.warning p {
	position: inherit;
	bottom: 2.5%;
	font-weight: 500;
	font-size: medium;
	color: #FFF;
	font-family: 'Lato', sans-serif;
}
span {
	font-weight: 500;
	/* visibility: hidden; */
}
.inp input{
	width: 25%;
	height: 40px;
	border-radius: 5px;
	border: none;
	position: inherit;
	padding: 0 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background-color: transparent;
	color: #FFF;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
		7px 7px 20px 0px rgba(143, 140, 140, 0.1),
		4px 4px 5px 0px rgba(241, 241, 241, 0.644);
	outline: none;
	margin: 20px;
}
.inp p{
	position: inherit;
	top: 50%;
	left:-50%;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: medium;
}

